:root{
  --dark-slate: #467284;
  --less-dark-slate: #668b9b;
  --med-slate: #86a5b2;
  --light-slate: #a7bfca;
  --lightest-slate: #c9dae2;
}

body{
  font-family: 'Ubuntu', sans-serif;
  margin: 0px;
  overflow: hidden;
}

.textHead{
  font-size: 100px;
}

.container{
  background-color: #668b9b;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inner-container{
  min-height: 300px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.inner-container > button{
  width: 200px;
  height: 30px;
  margin: 20px;
}

.list{
  border-radius: 10px;
  margin: 30px;
}

ul{
  padding: 0px;
  border-radius: 10px;
  display: flex;
}

#ulList > li{
  text-align: center;
}

li{
  padding: 10px 30px;
  background-color: rgb(105, 163, 130);
  box-sizing: border-box;
  list-style: none;
  border-radius: 10px;
  margin-right: 20px;
}

form{
  width: 650px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  padding: 15px;
  border: 2px solid black;
  border-radius: 10px;
  font-size: 20px;
  justify-content: center;
}

.formGroup{
  display: flex;
  justify-content: space-between;
  margin: 5px;
}

input{
  margin-left: 7px;
}

#submit{
  background-color: #86a5b2;
  border: 2px solid black;
  transition: 0.1s;
  border-radius: 5px;
}

#submit:hover{
  background-color: #a7bfca;
}

.col{
  width: 300px
}
